@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Areas/MainPages/Views/Pages/Main.cshtml";
}
@model List<TruckTransportManegment.Areas.MainPages.Models.GoodsTypeModel>;
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Main css -->
<link rel="stylesheet" href="~/css/Cardcss.css">

<div class="container mt-5">
    <a class="btn btn-outline-primary mb-3" asp-area="MainPages" asp-controller="GoodsType" asp-action="GoodsTypeAddEdit">Add GoodsType</a>


    <div class="row contact-form ">
        <div class="col-md-4">
            <input class="form-control" type="text" id="Goodstypename" placeholder="Filter by GoodsType Name" oninput="filterGoodstype()" />
        </div>
    </div>


    <div class="container mt-3">
        <div class="row">
            @foreach (var goodsType in Model)
            {
                <div class="col-md-6 col-xl-4 Goodstype-items" data-name="@goodsType.GoodsTypeName">
                    <div class="card radius-10 m-b-30 border-danger">
                        <div class="card-body row">
                            <div class="col-10 card-title align-self-center mb-0">
                                <h5>@goodsType.GoodsTypeName</h5>
                            </div>
                            <div class="col-2 d-flex justify-content-end">
                                <div class=" btn-group btn-group-sm">
                                    <form method="post" asp-area="MainPages" asp-area="MainPages" asp-controller="GoodsType" asp-action="GoodsTypeAddEdit" asp-route-GoodsTypeID="@Convert.ToInt32(goodsType.GoodsTypeID)">
                                        <button type="submit" class="btn btn-warning tooltips " data-placement="top" data-toggle="tooltip"
                                                data-original-title="Edit">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </form>
                                    <form method="post" asp-area="MainPages" asp-controller="GoodsType" asp-action="GoodsTypeDelete" asp-route-GoodsTypeID="@Convert.ToInt32(goodsType.GoodsTypeID)">
                                        <button type="submit" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip"
                                                data-original-title="Delete">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa fa-calendar-plus-o"></i> &nbsp;Created : @goodsType.Created</li>
                            <li class="list-group-item"><i class="fa fa-calendar-check-o"></i> &nbsp;Modified : @goodsType.Modified</li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<script>

    function filterGoodstype(){
        var inputName = document.getElementById('Goodstypename').value.toUpperCase();
        var Goodstypes = document.getElementsByClassName('Goodstype-items');

        for (var i = 0; i < Goodstypes.length; i++) {
            var GoodstypesName = Goodstypes[i].getAttribute('data-name').toUpperCase();
            var display = (GoodstypesName.indexOf(inputName) > -1) ? 'block' : 'none';
            Goodstypes[i].style.display = display;
        }

    }
</script>
