@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Areas/MainPages/Views/Pages/Main.cshtml";
}
@model List<TruckTransportManegment.Areas.MainPages.Models.CityModel>;
<!-- Main css -->
<link rel="stylesheet" href="~/css/Cardcss.css">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


<div class="container mt-5">
    <a class="btn btn-outline-primary mb-3" asp-area="MainPages" asp-controller="City" asp-action="CityAddEdit">Add City</a>

   
        <div class="row contact-form ">
            <div class="col-md-4">
                <input class="form-control" type="text" id="cityname" placeholder="Filter by City Name" oninput="filterCities()" />
            </div>
            <div class="col-md-4">
                <input class="form-control" type="text" id="citycode" placeholder="Filter by City Code" oninput="filterCities()"
            </div>
        </div>

    

    <div class="container mt-3">
        <div class="row" id="cityContainer">
            @foreach (var city in Model)
            {
                <div class="col-md-6 col-xl-4 city-item" data-name="@city.CityName" data-code="@city.CityCode">
                    <div class="card radius-10 m-b-30 border-danger">
                        <div class="card-body row">
                            <div class="col-10 card-title align-self-center mb-0">
                                <h5>@city.CityName</h5>
                                <p class="m-0">@city.CityCode</p>
                            </div>
                            <div class="col-2 d-flex justify-content-end">
                                <div class=" btn-group btn-group-sm">
                                    <form method="post" asp-area="MainPages" asp-controller="City" asp-action="CityAddEdit" asp-route-CityID="@Convert.ToInt32(city.CityID)">
                                        <button type="submit" class="btn btn-warning tooltips " data-placement="top" data-toggle="tooltip"
                                                data-original-title="Edit">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </form>
                                    <form method="post" asp-area="MainPages" asp-controller="City" asp-action="CityDelete" asp-route-CityID="@Convert.ToInt32(city.CityID)">
                                        <button type="submit" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip"
                                                data-original-title="Delete">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa fa-calendar-plus-o"></i> &nbsp;Created : @city.Created</li>
                            <li class="list-group-item"><i class="fa fa-calendar-check-o"></i> &nbsp;Modified : @city.Modified</li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<script>
    function filterCities() {
        var inputName = document.getElementById('cityname').value.toUpperCase();
        var inputCode = document.getElementById('citycode').value.toUpperCase();
        var cities = document.getElementsByClassName('city-item');

        for (var i = 0; i < cities.length; i++) {
            var cityName = cities[i].getAttribute('data-name').toUpperCase();
            var cityCode = cities[i].getAttribute('data-code').toUpperCase();
            var display = (cityName.indexOf(inputName) > -1 && cityCode.indexOf(inputCode) > -1) ? 'block' : 'none';
            cities[i].style.display = display;
        }
    }
</script>
