@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Areas/MainPages/Views/Pages/Main.cshtml";
}
@model List<TruckTransportManegment.Areas.MainPages.Models.DriverModel>;
<div class="container mt-5">
    <a class="btn btn-outline-primary " asp-area="MainPages" asp-controller="Driver" asp-action="DriverAddEdit">Add Driver</a>


    <table class="table text-center table-striped">
        <thead>
            <tr class="">
                <th scope="col">Driver ID</th>
                <th scope="col">Driver Name</th>
                <th scope="col">Driver Number</th>
                <th scope="col">Licence No</th>
                <th scope="col">Licence Expiry Date</th>
                <th scope="col">Created</th>
                <th scope="col">Modified</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Driver in Model)
            {
                <tr>
                    <th scope="row">@Driver.DriverID</th>
                    <td>@Driver.DriverName</td>
                    <td>@Driver.DriverPhone</td>
                    <td>@Driver.LicenceNo</td>
                    <td>@Driver.LicenceExpiryDate</td>
                    <td>@Driver.Created</td>
                    <td>@Driver.Modified</td>
                    <td>
                        <form method="post" asp-area="MainPages" asp-controller="Driver" asp-action="DriverAddEdit" asp-route-DriverID="@Convert.ToInt32(Driver.DriverID)">
                            <button type="submit" class="btn btn-outline-warning">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-area="MainPages" asp-controller="Driver" asp-action="DriverDelete" asp-route-DriverID="@Convert.ToInt32(Driver.DriverID)">
                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
