@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Areas/MainPages/Views/Pages/Main.cshtml";
}
@model List<TruckTransportManegment.Areas.MainPages.Models.DriverModel>;
<!-- Main css -->
<link rel="stylesheet" href="~/css/Cardcss.css">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container mt-5">
    <a class="btn btn-outline-primary mb-3" asp-area="MainPages" asp-controller="Driver" asp-action="DriverAddEdit">Add Driver</a>

    <div class="container">
        <div class="row">
            @foreach (var driver in Model)
            {
                <div class="col-md-6 col-xl-4">
                    <div class="card radius-10 m-b-30 border-danger">
                        <div class="card-body row">
                            <div class="col-10 card-title align-self-center mb-0">
                                <h5>@driver.DriverName</h5>
                                <p class="m-0">@driver.DriverPhone</p>
                            </div>
                            <div class="col-2 d-flex justify-content-end">
                                <div class=" btn-group btn-group-sm">
                                    <form method="post" asp-area="MainPages" asp-controller="Driver" asp-action="DriverAddEdit" asp-route-DriverID="@Convert.ToInt32(driver.DriverID)">
                                        <button type="submit" class="btn btn-warning tooltips " data-placement="top" data-toggle="tooltip"
                                                data-original-title="Edit">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </form>
                                    <form method="post" asp-area="MainPages" asp-controller="Driver" asp-action="DriverDelete" asp-route-DriverID="@Convert.ToInt32(driver.DriverID)">
                                        <button type="submit" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip"
                                                data-original-title="Delete">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa fa-id-card"></i> &nbsp;Licence No : @driver.LicenceNo</li>
                            <li class="list-group-item"><i class="fa fa-calendar-times-o"></i> &nbsp;Licence ExpiryDate : @driver.LicenceExpiryDate</li>
                            <li class="list-group-item"><i class="fa fa-calendar-plus-o"></i> &nbsp;Created : @driver.Created</li>
                            <li class="list-group-item"><i class="fa fa-calendar-check-o"></i> &nbsp;Modified : @driver.Modified</li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
