@{
    Layout = "~/Areas/MainPages/Views/Pages/Main.cshtml";
}
@model List<TruckTransportManegment.Areas.MainPages.Models.TruckModel>;
<!-- Main css -->
<link rel="stylesheet" href="~/css/Cardcss.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container mt-5">
    <a class="btn btn-outline-primary mb-3" asp-area="MainPages" asp-controller="Truck" asp-action="TruckAddEdit">Add Truck</a>


     <div class="row contact-form">
        <div class="col-md-4">
            <input class="form-control" type="text" id="truckname" placeholder="Filter by Truck Name" oninput="filterTrucks()" />
        </div>
        <div class="col-md-4">
            <input class="form-control" type="text" id="trucknumber" placeholder="Filter by Truck Number" oninput="filterTrucks()" />
        </div>
        <div class="col-md-3">
            <input class="form-control" type="text" id="trucktype" placeholder="Filter by Truck Type" oninput="filterTrucks()" />
        </div>
        <div class="col-md-3">
            <input class="form-control" type="number" id="price" placeholder="Filter by Price" oninput="filterTrucks()" />
        </div>
        <div class="col-md-3">
            <input class="form-control" type="number" id="capacity" placeholder="Filter by Capacity" oninput="filterTrucks()" />
        </div>
        <div class="col-md-3">
            <input class="form-control" type="text" id="engineno" placeholder="Filter by Engine Number" oninput="filterTrucks()" />
        </div>
        <div class="col-md-3">
            <input class="form-control" type="text" id="chassisno" placeholder="Filter by Chassis Number" oninput="filterTrucks()" />
        </div>
        <!-- Add more input fields for additional filtering -->
    </div>


    <div class="container mt-3">
        <div class="row">
            @foreach (var truck in Model)
            {
                <div class="col-md-6 col-xl-4 truck-item" data-name="@truck.TruckName" data-number="@truck.TruckNumber" data-engine="@truck.EngineNo" data-chassis="@truck.ChasisNo" data-capacity="@truck.Capacity" data-price="@truck.Price" data-type="@truck.TruckType">
                    <div class="card radius-10 m-b-30 border-danger">
                        <div class="card-body row">
                            <div class="col-10 card-title align-self-center mb-0">
                                <h5>@truck.TruckName</h5>
                                <p class="m-0">@truck.TruckNumber</p>
                            </div>
                            <div class="col-2 d-flex justify-content-end">
                                <div class=" btn-group btn-group-sm">
                                    <form method="post" asp-area="MainPages" asp-controller="Truck" asp-action="TruckAddEdit" asp-route-TruckID="@Convert.ToInt32(truck.TruckID)">
                                        <button type="submit" class="btn btn-warning tooltips " data-placement="top" data-toggle="tooltip"
                                                data-original-title="Edit"><i class="fa fa-pencil"></i>
                                        </button>
                                    </form>
                                    <form method="post" asp-area="MainPages" asp-controller="Truck" asp-action="TruckDelete" asp-route-TruckID="@Convert.ToInt32(truck.TruckID)">
                                        <button type="submit" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip"
                                           data-original-title="Delete"><i class="fa fa-times"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa fa-truck "></i> &nbsp;Truck Type : @truck.TruckType</li>
                            <li class="list-group-item"><i class="fa fa-ils"></i> &nbsp;Engine No : @truck.EngineNo</li>
                            <li class="list-group-item"><i class="fa fa-cc"></i> &nbsp;Chasis No : @truck.ChasisNo</li>
                            <li class="list-group-item"><i class="fa fa-cubes"></i> &nbsp;Capacity : @truck.Capacity</li>
                            <li class="list-group-item"> <i class="fa fa-inr "></i> &nbsp;Price : @truck.Price</li>
                            <li class="list-group-item"><i class="fa fa-calendar-plus-o"></i> &nbsp;Created : @truck.Created</li>
                            <li class="list-group-item"><i class="fa fa-calendar-check-o"></i> &nbsp;Modified : @truck.Modified</li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<script>
    function filterTrucks() {
        var inputName = document.getElementById('truckname').value.toUpperCase();
        var inputNumber = document.getElementById('trucknumber').value.toUpperCase();
        var inputType = document.getElementById('trucktype').value.toUpperCase();
        var inputCapacity = document.getElementById('capacity').value.toUpperCase();
        var inputEngine = document.getElementById('engineno').value.toUpperCase();
        var inputChassis = document.getElementById('chassisno').value.toUpperCase();
        var inputPrice = document.getElementById('price').value.toUpperCase();

        var trucks = document.getElementsByClassName('truck-item');

        for (var i = 0; i < trucks.length; i++) {
            var truckName = trucks[i].getAttribute('data-name').toUpperCase();
            var truckNumber = trucks[i].getAttribute('data-number').toUpperCase();
            var truckType = trucks[i].getAttribute('data-type').toUpperCase();
            var truckPrice = trucks[i].getAttribute('data-price');
            var truckCapacity = trucks[i].getAttribute('data-capacity');
            var truckEngine = trucks[i].getAttribute('data-engine').toUpperCase();
            var truckChassis = trucks[i].getAttribute('data-chassis').toUpperCase();
            var display = (truckName.indexOf(inputName) > -1 && truckNumber.indexOf(inputNumber) > -1 && truckType.indexOf(inputType) > -1 && truckPrice.indexOf(inputPrice) > -1 && truckCapacity.indexOf(inputCapacity) > -1 && truckEngine.indexOf(inputEngine) > -1 && truckChassis.indexOf(inputChassis) > -1) ? 'block' : 'none';
            trucks[i].style.display = display;
        }
    }
</script>